/*
.auth-container {
    width: 100%;
  }
  
  @media (min-width: 640px) {
    .auth-container {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .auth-container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .auth-container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .auth-container {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px) {
    .auth-container {
      max-width: 1536px;
    }
  }
  
  .auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 640px) {
    .auth-container-size {
      width: 66.666667%;
    }
  }
  
  @media (min-width: 1024px) {
    .auth-container-size {
      width: 33.333333%;
    }
  }
  
  .auth-card {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(110, 231, 183, var(--tw-border-opacity));
    border-radius: 0.5rem;
    border-top-width: 8px;
    margin-bottom: 1.5rem;
    padding: 2rem;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .auth-margin {
    margin-bottom: 1rem;
  }
  
  .auth-headline {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .auth-min {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .auth-label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity));
  }
  
  .auth-input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity));
  }
  
  .auth-input:hover {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  }
  
  .auth-input {
    border-radius: 0.25rem;
    border-width: 1px;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    width: 100%;
  }
  
  .auth-submit {
    --tw-bg-opacity: 1;
    background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
  }
  
  .auth-submit:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(217, 119, 6, var(--tw-bg-opacity));
  }
  
  .auth-submit {
    border-radius: 0.375rem;
    display: block;
    font-weight: 700;
    margin-right: 0.5rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }
  
  .auth-other-links {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
  }
  
  .auth-other-links:hover {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
  }*/