.prose {
    color: #4a5568;
    max-width: 65ch;
  
    a {
      color: #1a202c;
      text-decoration: underline;
    }
  
    ul > li {
      position: relative;
      padding-left: 1.75em;
  
      &::before {
        content: "";
        position: absolute;
        background-color: #cbd5e0;
        border-radius: 50%;
        width: .375em;
        height: .375em;
        top: calc(.875em - .1875em);
        left: 0.25em;
      }
    }
  
    h2 {
      color: #1a202c;
      font-weight: 700;
      font-size: 1.5em;
      margin-top: 2em;
      margin-bottom: 1em;
      line-height: 1.3333333;
    }
  
    font-size: 1rem;
    line-height: 1.75;
  
    p {
      margin-top: 1.25em;
      margin-bottom: 1.25em;
    }
  
    img {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  
    ul {
      margin-top: 1.25em;
      margin-bottom: 1.25em;
    }
  
    li {
      margin-top: .5em;
      margin-bottom: 0.5em;
    }
  
    > ul > li {
      p {
        margin-top: .75em;
        margin-bottom: 0.75em;
      }
  
      > {
        :first-child {
          margin-top: 1.25em;
        }
  
        :last-child {
          margin-bottom: 1.25em;
        }
      }
    }
  
    ul ul {
      margin-top: .75em;
      margin-bottom: 0.75em;
    }
  
    h2 + * {
      margin-top: 0;
    }
  
    > {
      :first-child {
        margin-top: 0;
      }
  
      :last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .prose-xl {
    font-size: 1.25rem;
    line-height: 1.8;
  
    p {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }
  
    h2 {
      font-size: 1.8em;
      margin-top: 1.5555556em;
      margin-bottom: .8888889em;
      line-height: 1.1111111;
    }
  
    img {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  
    ul {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }
  
    li {
      margin-top: .6em;
      margin-bottom: 0.6em;
    }
  
    ul {
      > li {
        padding-left: 1.8em;
  
        &::before {
          width: .35em;
          height: .35em;
          top: calc(.9em - .175em);
          left: 0.25em;
        }
      }
  
      ul {
        margin-top: .8em;
        margin-bottom: 0.8em;
      }
    }
  
    > ul > li {
      p {
        margin-top: .8em;
        margin-bottom: 0.8em;
      }
  
      > {
        :first-child {
          margin-top: 1.2em;
        }
  
        :last-child {
          margin-bottom: 1.2em;
        }
      }
    }
  
    h2 + * {
      margin-top: 0;
    }
  
    > {
      :first-child {
        margin-top: 0;
      }
  
      :last-child {
        margin-bottom: 0;
      }
    }
  }