<div>
    <p>Esta pagina es una galeria propuesta como trabajo inicial para la clase de plataformas empresariales</p>
    <p>Esto implica que es una pagina estatica que no hace mucho ademas de ser, bueno eso estatica</p>
    <p>Aun asi, esta pagina cumple como un SPA (Single Page Application) Desde que decide que usaria vanilla javascript para simular apps hechas en svelte o react</p>
    <p>Por desgracia, ser reactivo como en svelte o manejar virtual dom es dificil, pero gracias a internet encontre muchas formas de hacer una SPA que funcione </p>
    <p>Copyright para Dan Ellis Echavarria 2021</p>
</div>