<div id="gallery"></div>
<div>
  <label for="image-upload">Subir imagen</label>
  <input type="file" accept="image/*" name="image-upload" id="image-upload" />
  <label for="author">Autor</label>
  <input type="text" name="author" id="author" />
</div>
<button id="submit">Enviar</button>
<script>
  if (!window.indexedDB) {
    window.alert(
      "Su navegador no soporta una versión estable de indexedDB. Tal y como las características no serán validas"
    );
  }

  function GetLocalStorageFiles() {

    var request = indexedDB.open("files", 3);
      request.addEventListener("error", () =>
        alert("Hubo un error con IndexedDB")
      );
      request.addEventListener("blocked", () =>
        alert("La aplicacion funcionara de manera limitada sin indexedDB")
      );
      request.addEventListener("success", (event) => {
        let db = request.result;
        var files = db.transaction(["files"],"readonly");
        let localStorageFiles = files.objectStore("files").getAll();
        localStorageFiles.addEventListener("success",(event) => {
            if (localStorageFiles !== null) {
                let index = 2;
                let gal = document.getElementById("gallery");
        gal.innerHTML = "";

      localStorageFiles.result.forEach((element) => {
        let div = document.createElement("div");
        div.id = element.base64.substring(22+index++,31+index++);
        let img = document.createElement("img");
        img.src = element.base64;
        let p = document.createElement("p");
        p.textContent = element.author;
        div.appendChild(img);
        div.appendChild(p);
        gal.appendChild(div);
      });
    }
      localStorageFiles.addEventListener("error",() => alert("Ha ocurrido un error de lectura"));
        });

        files.addEventListener("abort", () => alert("Se aborto la lectura"));
        files.addEventListener("error", () => alert("Hubo un error al leer los archivos"));
        files.addEventListener("complete", () => console.log("Se han leido todos los archivos"));
    }


      );
      request.addEventListener("upgradeneeded", (event) => {
        var db = event.target.result;
        var objStore = db.createObjectStore("files", { autoIncrement: true });
        objStore.createIndex("author", "author", { unique: false });
      });


  }
  GetLocalStorageFiles();

  function AddImage(imageToLoad, author) {
    let reader = new FileReader();
    reader.readAsDataURL(imageToLoad);
    reader.addEventListener("load", (event) => {
      let data = event.target.result;
      let imageObj = {
        base64: data,
        author: author,
      };
      var request = indexedDB.open("files", 3);
      request.addEventListener("error", () =>
        alert("Hubo un error con IndexedDB")
      );
      request.addEventListener("blocked", () =>
        alert("La aplicacion funcionara de manera limitada sin indexedDB")
      );
      request.addEventListener("success", (event) => {
        let db = request.result;
        var files = db.transaction(["files"],"readwrite");
        files.objectStore("files").add(imageObj);

        files.addEventListener("abort", () => alert("Se aborto la subida"));
        files.addEventListener("error", () => alert("Hubo un error al subir el archivo"));
        files.addEventListener("complete", () => console.log("Se ha subido un archivo"));

        GetLocalStorageFiles();
      });
      request.addEventListener("upgradeneeded", (event) => {
        var db = event.target.result;
        var objStore = db.createObjectStore("files", { autoIncrement: true });
        objStore.createIndex("author", "author", { unique: false });
      });
      document.getElementById("progress-upload").value = 0;
    });

    reader.addEventListener("progress", (event) => {
      if (event.loaded && event.total) {
        const percent = (event.loaded / event.total) * 100;
        console.log(percent);
        document.getElementById("progress-upload").value = percent;
      }
    });
    return false;
  }

  
  if(localStorage.getItem("loadedGallery") !== "yes")
  {
    let getFiles = fetch("./assets/gallery/files.json")
    .then((x) => x.json())
    .then(function (x) {
      Object.keys(x).forEach((element) => {
        let src = `./assets/gallery/${element}.jpg`;
        fetch(src).then(y => y.blob()).then(y => AddImage(y,x[element].user_name) ).then(() => localStorage.setItem("loadedGallery","yes")).catch((e) => {
            console.error(e);
            localStorage.removeItem("loadedGallery")
        })
      });
    }).catch(w => console.log(w));
  }



  document.getElementById("submit").addEventListener("click", () => AddImage(document.getElementById("image-upload").files[0], document.getElementById("author").value));
</script>
