    <div>
        <h2>Ingrese a la plataforma</h2>
        <p>Por favor ingrese un usuario y contraseña</p>
        <form action="">
            <label for="username"></label>
            <input type="text" name="username" id="username">
            <label for="password"></label>
            <input type="password" name="password" id="password">
        </form>
        <button>Ingresar</button>
        <a href="/register">¿No esta registrado? Registrese Aqui</a>
        <a href="/reset-password">¿Se ha olvidado su contraseña?</a>
    </div>
