    <div class="intro-style">
        <div class=" auth-container">
    
            <div  class="auth-container-size">
                <div class="auth-card">
                    <div class="auth-margin">
                        <h2 class="auth-headline">Ingrese a la plataforma</h2>
                        <p class="auth-min">Por favor ingrese un usuario y contraseña:</p>
                        <label class="auth-label" for="username">Usuario</label>
                        <input   class="auth-input"  type="text" name="username" id="username">
                        <label class="auth-label" for="password">Contraseña</label>
                        <input  class="auth-input"type="password" name="password" id="password">
                        <button class="auth-submit">Ingresar</button>
                        <a class="auth-other-links" href="/register">¿No esta registrado? Registrese Aqui</a>
                        <a class="auth-other-links" href="/reset-password">¿Se ha olvidado su contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>