    <div class="intro-style">
        <div class=" auth-container">
    
            <div  class="auth-container-size">
                <div class="auth-card">
                    <div class="auth-margin">
                        <h2 class="auth-headline">Ingrese a la plataforma</h2>
                        <p class="auth-min">Por favor ingrese un usuario y contraseña:</p>
                        <label class="auth-label" for="username">Usuario</label>
                        <input   class="auth-input auth-state"  type="text" name="username" id="username">
                        <label class="auth-label" for="password">Contraseña</label>
                        <input  class="auth-input auth-state"type="password" name="password" id="password">
                        <button class="auth-submit">Ingresar</button>
                        <a class="auth-other-links" href="/register">¿No esta registrado? Registrese Aqui</a>
                        <a class="auth-other-links" href="/reset-password">¿Se ha olvidado su contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <script >
        let validation = new Validation()
        let states = ["auth-state","auth-fail","auth-ok","auth-medium"]
        let username = document.getElementById("username");
        let password = document.getElementById("password");
        let usernameTimeout, passwordTimeout;
        username.addEventListener("change", () => {
            console.log("changed");
            window.clearInterval(usernameTimeout);
            usernameTimeout = window.setInterval(() => {
            states.forEach(x => username.classList.remove(x));
                if(validation.validateText(username.textContent,"[^-\\s]", () => username.classList.add("auth-fail")))
                {
                    console.log("Texto es blanco");
                }
                else {
                    username.classList.add("auth-state");
                }
                window.clearInterval(usernameTimeout);
            }, 300)
        });

    </script>