<div class="intro-style">
    <div class="auth-container">

        <div  class="auth-container-size">
            <div class="auth-card">
                <div class="auth-margin">
                    <h2 class="auth-headline">Registrese</h2>
                    <p class="auth-min">Registrese a la plataforma de galeria:</p>
                    <label class="auth-label" for="username">Usuario</label>
                    <input   class="auth-input"  type="text" name="username" id="username">
                    <label class="auth-label" for="mail">Correo</label>
                    <input  class="auth-input" type="email" name="mail" id="mail">
                    <label class="auth-label" for="password">Contraseña</label>
                    <input  class="auth-input"type="password" name="password" id="password">
                    <label class="auth-label" for="confirmpassword">Confirmar tu contraseña</label>
                    <input class="auth-input" type="password" name="confirmpassword" id="confirmpassword">
                    <button class="auth-submit">Registrarse</button>
                <a class="auth-other-links" href="/login">¿Ya estas registrado, Haz login aqui?</a>
                </div>
            </div>
        </div>
    </div>

</div>