
    <div class="intro-style">
        <div class=" auth-container">
    
            <div  class="auth-container-size">
                <div class="auth-card">
                    <div class="auth-margin">
                        <h2 class="auth-headline">Recuperar su contraseña</h2>
                        <p class="auth-min">Por limitaciones, cambie su contraseña aqui:</p>
                        <label class="auth-label" for="username">Usuario</label>
                        <input   class="auth-input"  type="text" name="username" id="username">
                        <label class="auth-label" for="password">Contraseña</label>
                        <input  class="auth-input"type="password" name="password" id="password">
                        <label class="auth-label" for="confirmpassword">Confirmar tu contraseña</label>
                        <input class="auth-input" type="password" name="confirmpassword" id="confirmpassword">
                        <button class="auth-submit">Recuperar su contraseña</button>
                    <a class="auth-other-links" href="/login">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>